.footer {
  .footer-layout {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-layout__bottom {
    padding-top: 26px;
    padding-bottom: 24px;
    background-color: $secondary-bg-color;
  }
  &__registration {
    max-width: 440px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
    .register-text {
      margin-bottom: 15px;
    }
  }
  &__social-network {
    margin-bottom: 16px;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &__menu {
    margin-bottom: 24px;
  }
  &__legal-section {
    text-align: center;
    font-size: 9px;
    letter-spacing: 0.5px;
    line-height: 13px;
  }
}
