@media only screen and (max-width: 1024px) {
  .accordian {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #e1e0e1;
    .sub-menu {
      &__item {
        font-size: 12px;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      // padding: 15px;
    }
  }
  .accordian_content {
    height: auto;

    // border: 1px #ccc solid;
    // background-color: #eee;
    padding: 15px;
    -webkit-transition: height 0.3s linear, padding-top 0.3s linear,
      padding-bottom 0.3s linear, border-top-width 0.3s linear,
      border-top-width 0.3s linear;
    transition: height 0.3s linear, padding-top 0.3s linear,
      padding-bottom 0.3s linear, border-top-width 0.3s linear,
      border-top-width 0.3s linear;
  }
  .accordian_title {
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }

  .desktop_version {
    display: none;
  }
  .desktop_accordian {
    flex-direction: column;
    // width: 300px;
    margin: 0px auto;
  }
  .toggled {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    border-width: 0 1px;
  }
}
@media only screen and (min-width: 521px) {
  .mobile_version {
    display: none;
  }
}
