@media only screen and (max-width: 1023px) {
  .accordian {
    &.accordian-social {
      display: none;
    }
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #e1e0e1;
    .sub-menu {
      &__item {
        font-size: 12px;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      // padding: 15px;
    }
  }
  .accordian_content {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    border-width: 0 1px;
    -webkit-transition: height 0.3s linear, padding-top 0.3s linear,
      padding-bottom 0.3s linear, border-top-width 0.3s linear,
      border-top-width 0.3s linear;
    transition: height 0.3s linear, padding-top 0.3s linear,
      padding-bottom 0.3s linear, border-top-width 0.3s linear,
      border-top-width 0.3s linear;
    &.toggled {
      height: auto;
      padding: 15px;
    }
  }
  .accordian_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      &.toggled {
        display: none;
      }
    }
  }

  .desktop_version {
    display: none;
  }
  .desktop_accordian {
    flex-direction: column;
    // width: 300px;
    margin: 0px auto;
  }
}
.accordian_title {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.sub-menu__item {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
@media only screen and (min-width: 1024px) {
  .desktop_accordian {
    margin-bottom: 38px;
    display: flex;
    justify-content: center;
    .accordian:not(:last-child) {
      margin-right: 40px;
    }
  }
  .accordian_title {
    cursor: unset;
    margin-bottom: 17px;
  }
  .accordian {
    button {
      display: none;
    }
    &.accordian-social {
      display: block;
    }
  }
  .accordian_content {
    .sub-menu__item:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}
